<div class="row ok flex justify-content-around">
  <div class="col-6">
    <button class="btn btn-success m-2" (click)="onOnAll()">
      Tout allumer
    </button>
    <button
      class="btn btn-danger m-2"
      (confirm)="onOffAll()"
      [swal]="{
        title: 'Tout éteindre',
        text: 'Etes-vous sûr de vouloir éteindre tous vos appareils ?',
        showDenyButton: true,
        showCancelButton: false
      }"
    >
      Tout éteindre
    </button>
  </div>

  <div class="col-6">
    <h2>Mes appareils</h2>
    <ul class="list-group">
      <app-appareil
        *ngFor="let appareil of appareils; "
        [appareil]="appareil"
        
      ></app-appareil>
    </ul>
  </div>
</div>
